<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/b8e99704d3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Title -->
    <title>Title</title>
  </head>

  <body>    
    <h1> User Management System </h1>

    <!-- JavaScript -->
    <script src=></script>
  </body>
</html>
